#screen_con {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#screen_con img {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #c2c2c2;
    opacity: 0.5;
    visibility: hidden;
}
