#image_div {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url('/files/_general_files/images/willkommen.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background-color: aqua;
}

#overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #c2c2c2;
    opacity: 0.5;
    visibility: hidden;
}
